@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://wa.me/8099822176" target="_blank">Gilberto Hernandez</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
