@page "/acerca-de"

<h1>Acerca de Mí</h1>

<img src="images\Mifoto.jpg" alt="Foto del estudiante" width="150" height="150" />

<p>Nombre: Gilberto Hernandez</p>
<p>Email: ghernandezds@gmail.com</p>
<p>Me gustaría dedicarme profesionalmente al desarrollo de software utilizando el lenguaje Python.</p>

<a href="https://wa.me/8099822176" target="_blank">Chatea por WhatsApp</a>
<a href="https://t.me/8099822176" target="_blank">Chatea por Telegram</a>

<style>
    img {
        border-radius: 50%;
        border: 2px solid #3498db;
    }
</style>